<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gameofphones.gatech.stumble">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/NoStatusBarTheme"></activity>
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/NoStatusBarTheme" />
        <activity
            android:name=".InitialECActivity"
            android:theme="@style/NoStatusBarTheme" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/NoStatusBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ECActivity"
            android:label="Emergency Contacts" />
        <activity android:name=".ECDetailActivity" />
        <activity
            android:name=".AddECActivity"
            android:label="Add Emergency Contact" />
        <activity
            android:name=".AlertActivity"
            android:theme="@style/NoStatusBarTheme" />
        <activity
            android:name=".AlertWhoActivity"
            android:label="Sent Alert To:" />
        <activity
            android:name=".AlertSentActivity"
            android:theme="@style/NoStatusBarTheme" />

        <service
            android:name=".FallDetectionService"
            android:exported="false"></service>
    </application>

</manifest>